// Imported partials
@import '../default/colours';
@import '../default/fonts';
@import '../default/arrow-style';

// Header
.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: none;
    // Logo
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        .logo-background {
            background: black;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            animation-name: spin;
            animation-duration: 10s;
            animation-delay: 2s;
            animation-iteration-count: 1;
            animation-direction: alternate;
                img {
                    width: 100px;
                    height: 100px;
                }
        }
    }

    // Animation Keyframes
    @keyframes spin {
        0% {
            background: conic-gradient( orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
            transform: rotate(0);
        }
        100% {
            background: conic-gradient( orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
            transform: rotate(360deg);
        }
    }

    // Main Heading
    h1 {
        color: $main-colour;
        text-align: center;
        padding-top: 4%;
        font-family: $handwritten-font;
        font-size: 2.2rem;
    }
    // Secondary Heading
    h2 {
        color: $main-colour;
        text-align: center;
        padding-top: 2%;
        font-family: $main-font;
        font-size: 1.5rem;
        font-weight: 200;
        padding-bottom: 5%;
    }

    // Header Navigation Bar
    .header-nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 5% 0;
        background-color: black;
        li {
            font-family: $main-font;
            color: $secondary-colour;
            font-size: 1rem;
        }
    }
    // End Header Navigation Bar
}

// Tablet Media Breakpoint
@media screen and (min-width: 480px) and (max-width: 770px) {
    .header {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        
        .header-nav-list {
            padding: 2%;
            li {
                font-size: 1.2rem;
            }
        }
    }
}
//  End Tablet

// Desktop/Laptop Media Breakpoint
@media screen and (min-width: 771px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 10px solid black;
        padding-bottom: 3%;
        .logo-container {
            padding-left: 5%;
            padding-top: 2%;
        }
        .headings {
            padding: 5% 0 0 5%;
            h1 {
                font-size: 2.2rem;
                line-height: 1;
            }
            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                line-height: 1;
                padding-top: 5%;
            }
        }
        .header-nav-container {
            display: flex;
            align-items: flex-end;
            width: 50vw;
            .header-nav-list {
                width: 50vw;
                background-color: white;
                li {
                    font-size: 1.2rem;
                    color: $main-colour;
                }
            }
        }
    }
}
// End Desktop/Laptop

// End Header