// Sticky Side Navigation Bar
.side-nav-container {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 20vh;
    padding-left: 5vw;
    height: 0;
    width: 20vw;
    .side-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 2rem;
        padding: 2% 10%;
        border-radius: 0 12px 12px 0;
        color: $secondary-colour;
        height: 40vh;
        li {
            list-style-type: none;
        }
    }
}


// Tablet Media Breakpoint
@media screen and (min-width: 480px) and (max-width: 820px) {
    .side-nav-container {
        padding-left: 0;
        top: 40vh;
        .side-nav {
            font-size: 3rem;
            background-color: black;
        }
    }
}
//  End Tablet

// Desktop/Laptop Media Breakpoint
@media screen and (min-width: 821px) {
    .side-nav-container {
        padding-left: 0;
        top: 35vh;
        .side-nav {
            padding: 2% 5%;
            font-size: 3rem;
            background-color: black;
        }
    }
}
// End Desktop/Laptop

// End Sticky Side Navigation Bar