* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: none;
}
.header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.header .logo-container .logo-background {
  background: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.header .logo-container .logo-background img {
  width: 100px;
  height: 100px;
}
@-webkit-keyframes spin {
  0% {
    background: conic-gradient(orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
    transform: rotate(0);
  }
  100% {
    background: conic-gradient(orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    background: conic-gradient(orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
    transform: rotate(0);
  }
  100% {
    background: conic-gradient(orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
    transform: rotate(360deg);
  }
}
.header h1 {
  color: #3B6991;
  text-align: center;
  padding-top: 4%;
  font-family: "Homemade Apple", cursive;
  font-size: 2.2rem;
}
.header h1 a {
  text-decoration: none;
  color: #3B6991;
}
.header h2 {
  color: #3B6991;
  text-align: center;
  padding-top: 2%;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 5%;
}
.header h2 a {
  text-decoration: none;
  color: #3B6991;
}
.header .header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 5% 0;
  background-color: black;
}
.header .header-nav-list li {
  font-family: "Raleway", sans-serif;
  color: #0E9594;
  font-size: 1rem;
}
.header .header-nav-list li a,
.header .header-nav-list li a:visited {
  text-decoration: none;
  color: #3B6991;
}

@media screen and (min-width: 480px) and (max-width: 820px) {
  .header h1 {
    font-size: 2.5rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
  .header .header-nav-list {
    padding: 2%;
  }
  .header .header-nav-list li {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 821px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 10px solid black;
    padding-bottom: 3%;
  }
  .header .logo-container {
    padding-left: 5%;
    padding-top: 2%;
  }
  .header .headings {
    padding: 5% 0 0 5%;
  }
  .header .headings h1 {
    font-size: 3.8rem;
    line-height: 1;
  }
  .header .headings h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    line-height: 1;
    padding-top: 5%;
  }
  .header .header-nav-container {
    display: flex;
    align-items: flex-end;
    width: 50vw;
  }
  .header .header-nav-container .header-nav-list {
    width: 50vw;
    background-color: white;
  }
  .header .header-nav-container .header-nav-list li {
    font-size: 2.2rem;
    color: #3B6991;
  }
}
footer {
  width: 100vw;
}
footer .return-top {
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .return-top a {
  text-decoration: none;
  color: #3B6991;
  font-family: "Alex Brush", cursive;
  line-height: 1.8rem;
  font-size: 5rem;
}
footer .return-top a:hover {
  transform: scale(1.5);
  filter: brightness(0.8);
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .left-footer {
  font-family: "Raleway", sans-serif;
  color: #3B6991;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 2%;
}
footer .footer-container .footer-arrow {
  text-decoration: none;
  color: #3B6991;
  font-family: "Alex Brush", cursive;
  line-height: 1.8rem;
  font-size: 5rem;
  padding: 0 2%;
}
footer .footer-container .footer-arrow:hover {
  transform: scale(1.5);
  filter: brightness(0.8);
}
footer .footer-container .right-footer {
  font-family: "Raleway", sans-serif;
  color: #3B6991;
  font-size: 1rem;
  line-height: 1.5;
  text-align: right;
  padding-right: 2%;
}
footer .footer-container .right-footer a {
  text-decoration: none;
  color: #3B6991;
}
footer .footer-container .right-footer a:hover {
  text-decoration: underline;
}
footer .copyright {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #3B6991;
  font-size: 0.5rem;
  padding: 2% 0;
}

@media screen and (min-width: 480px) and (max-width: 820px) {
  footer .footer-container .left-footer {
    font-size: 1.6rem;
  }
  footer .footer-container .right-footer a {
    font-size: 1.5rem;
  }
  footer .copyright {
    font-size: 1rem;
  }
}
@media screen and (min-width: 821px) {
  footer .return-top a {
    font-size: 10rem;
  }
  footer .footer-container .left-footer {
    font-size: 2.5rem;
  }
  footer .footer-container .footer-arrow {
    font-size: 10rem;
  }
  footer .footer-container .right-footer a {
    font-size: 2rem;
  }
  footer .copyright {
    font-size: 1.5rem;
  }
}
main {
  padding-bottom: 5%;
  font-family: "Raleway", sans-serif;
}
main h2 {
  text-align: center;
  padding: 5% 0 2% 0;
  color: #3B6991;
  font-size: 2.2rem;
  font-weight: 400;
}
main .contact-container {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  background-color: #3B6991;
  color: white;
  margin: 2%;
  padding: 2%;
}
main .contact-container nav {
  display: flex;
  align-items: center;
  width: 20vw;
}
main .contact-container nav .side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2.5rem;
  height: 30vh;
  padding: 2% 10%;
  border-radius: 12px;
  color: #0E9594;
}
main .contact-container nav .side-nav li {
  list-style-type: none;
}
main .contact-container nav .side-nav li a {
  text-decoration: none;
  color: #0E9594;
}
main .contact-container nav .side-nav li a a:hover {
  text-decoration: none;
  color: #0E9594;
}
main .contact-container .contact {
  width: 95%;
}
main .contact-container .contact h3 {
  text-align: right;
  font-weight: 200;
  font-size: 1.5rem;
  margin-right: 2%;
}
main .contact-container .contact .arrow {
  text-decoration: none;
  color: #3B6991;
  font-family: "Alex Brush", cursive;
  line-height: 1.8rem;
  margin-bottom: 0;
  font-size: 5rem;
  color: white;
  line-height: 4rem;
}
main .contact-container .contact .form-container form {
  line-height: 2;
}
main .contact-container .contact .form-container form input {
  width: 98%;
  border-radius: 8px;
  border: 0;
  border-color: #3B6991;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  padding-left: 2%;
}
main .contact-container .contact .form-container form input:focus {
  outline: none;
}
main .contact-container .contact .form-container form #message {
  height: 20vh;
  padding-bottom: 10rem;
}
main .contact-container .contact .form-container form .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
main .contact-container .contact .form-container form .button button {
  background-color: #0E9594;
  border: none;
  border-radius: 8px;
  padding: 5%;
  color: white;
  font-size: 1rem;
  margin: 2% 0;
  display: flex;
}

@media screen and (min-width: 480px) and (max-width: 820px) {
  main {
    padding-bottom: 2%;
  }
  main h2 {
    font-size: 2.8rem;
  }
  main .contact-container nav .side-nav {
    font-size: 5.5rem;
  }
  main .contact-container .contact h3 {
    font-size: 2.2rem;
  }
  main .contact-container .contact .form-container form {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  main .contact-container .contact .form-container form input {
    line-height: 2rem;
  }
  main .contact-container .contact .form-container form .button button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 821px) {
  main {
    margin-bottom: 0%;
  }
  main h2 {
    font-size: 4rem;
    font-weight: 700;
    padding: 2% 0 0 0;
  }
  main .contact-container nav .side-nav {
    font-size: 8rem;
    height: 50vh;
  }
  main .contact-container .contact h3 {
    font-size: 3.2rem;
  }
  main .contact-container .contact .arrow {
    font-size: 9rem;
  }
  main .contact-container .contact .form-container form {
    font-size: 2rem;
    line-height: 2;
  }
  main .contact-container .contact .form-container form input {
    line-height: 3rem;
  }
  main .contact-container .contact .form-container form .button button {
    font-size: 2rem;
    padding: 2%;
  }
}/*# sourceMappingURL=contact.css.map */