// Import reset settings
@import './default/reset';

// Import element stylesheeets
@import './components/header';
@import './components/sticky-side-nav';
@import './components/footer';

// Imported partials
@import './default/typewriter-animation';

// Main Page Content
.main-container {
    display: flex;
    flex-direction: column;
    margin-left: 25vw;
    padding-top: 10%;
    p {
        display: flex;
        justify-content: flex-start;
        color: black;
        width: 75vw;
        font-weight: 200;
        font-family: $main-font;
        font-size: 2.2rem;
        line-height: 2.5;
    }
}
    .text1 {
        @include typewriter;
        animation-delay: 10s;
    }
    .text2 {
        @include typewriter;
        animation-delay: 15s;
    }
    .text3 {
        @include typewriter;
        animation-delay: 20s;
    }
    .text4 {
        @include typewriter;
        animation-delay: 25s;
    }

    @keyframes text {
        from { 
            width: 0; 
        }
    }
    
    @-webkit-keyframes text {
        from {
            width: 0;
        }
    }

// Tablet Media Breakpoint
@media screen and (min-width: 480px) and (max-width: 820px) {
    .main-container {
        margin-left: 30vw;
        p {
            font-size: 3rem;
        }
    }
}
//  End Tablet

// Desktop/Laptop Media Breakpoint
@media screen and (min-width: 821px) {
    .main-container {
        padding-top: 2%;
        margin-left: 40%;
        p {
            font-size: 5rem;
        }
    }
}
// End Desktop/Laptop

// End Main Page Content