* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.header .logo-container .logo-background {
  background: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.header .logo-container .logo-background img {
  width: 100px;
  height: 100px;
}
@keyframes spin {
  0% {
    background: conic-gradient(orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
    transform: rotate(0);
  }
  100% {
    background: conic-gradient(orange, rgb(238, 22, 22), yellow, rgb(21, 177, 21), rgb(156, 234, 234), rgb(101, 101, 241), rgb(157, 14, 157), rgb(241, 154, 169));
    transform: rotate(360deg);
  }
}
.header h1 {
  color: #3B6991;
  text-align: center;
  padding-top: 4%;
}
.header h2 {
  color: #3B6991;
  text-align: center;
  padding-top: 2%;
  font-family: "Raleway", sans-serif;
}
.header .header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 5% 0;
}
.header .header-nav-list li {
  font-family: "Raleway", sans-serif;
  color: #3B6991;
}

.side-nav-container {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 20vh;
  padding-left: 5vw;
  height: 0;
  width: 20vw;
}
.side-nav-container .side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
  color: #0E9594;
  height: 40vh;
}
.side-nav-container .side-nav li {
  list-style-type: none;
}

footer {
  position: fixed;
  bottom: 0;
}
footer .return-top {
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .return-top a {
  text-decoration: none;
  font-size: 5rem;
  color: #3B6991;
  font-family: "Alex Brush", cursive;
  margin-bottom: -1.5rem;
}
footer .return-top a:hover {
  transform: scale(1.5);
  filter: brightness(0.8);
}
footer .footer-container {
  display: flex;
}
footer .footer-container .left-footer {
  font-family: "Raleway", sans-serif;
  color: #3B6991;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 2%;
}
footer .footer-container .footer-arrow {
  text-decoration: none;
  font-size: 5rem;
  color: #3B6991;
  font-family: "Alex Brush", cursive;
  margin-bottom: -1.5rem;
  padding: 0 2%;
}
footer .footer-container .footer-arrow:hover {
  transform: scale(1.5);
  filter: brightness(0.8);
}
footer .footer-container .right-footer {
  font-family: "Raleway", sans-serif;
  color: #3B6991;
  font-size: 1rem;
  line-height: 1.5;
  text-align: right;
  padding-right: 2%;
}
footer .footer-container .right-footer a {
  text-decoration: none;
  color: #3B6991;
}
footer .footer-container .right-footer a:hover {
  text-decoration: underline;
}
footer .copyright {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #3B6991;
  font-size: 0.5rem;
  padding: 2% 0;
}

.main-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  height: 40vh;
  padding-top: 10%;
}
.main-container p {
  display: flex;
  justify-content: flex-start;
  color: black;
  width: 75vw;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  line-height: 2.5;
}

.text1 {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: text 5s steps(40, end);
  animation-name: text;
  animation-duration: 5s;
  animation-timing-function: steps(40, end);
  animation-fill-mode: both;
  animation-delay: 10s;
}

.text2 {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: text 5s steps(40, end);
  animation-name: text;
  animation-duration: 5s;
  animation-timing-function: steps(40, end);
  animation-fill-mode: both;
  animation-delay: 15s;
}

.text3 {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: text 5s steps(40, end);
  animation-name: text;
  animation-duration: 5s;
  animation-timing-function: steps(40, end);
  animation-fill-mode: both;
  animation-delay: 20s;
}

.text4 {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: text 5s steps(40, end);
  animation-name: text;
  animation-duration: 5s;
  animation-timing-function: steps(40, end);
  animation-fill-mode: both;
  animation-delay: 25s;
}

@keyframes text {
  from {
    width: 0;
  }
}
@-webkit-keyframes text {
  from {
    width: 0;
  }
}

/*# sourceMappingURL=main.css.map */
